.forgot-password-card-main {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #FFF;
  padding: 40px 48px;
  min-width: 500px;
  flex-direction: column;

  .heading {
    padding: 20px 0;
    color: #574CB1;
    font-weight: 600;
    font-size: 20px;
  }

  .back-to-login {
    color: #2E384D;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
  }

  .success-message {
    padding-top: 17px;
    font-size: 1rem;
    color: #41B18F;
    gap: 8px;
    font-weight: 500;
  }
}